
html, body{
    min-height: 100vh;
}

#welcome_page{
    min-width: 100vw;
    min-height: 100vh;
}

.mywrapper{
    max-width: 60vw;
    margin: auto;

    margin-top: 30vh;

}

#bottom_menu{
    display: none;
}

#main_page{
    display: grid;
    grid-auto-rows: auto 1fr 1fr;
    min-height: 100vh;
}


#main_header{
    padding: 0px 20px;

}

#main_items{
    overflow:scroll;
    padding: 0px 20px;
}


.item-header-item {
    margin-right: 5px;
}