
*{
    letter-spacing:2px;
    word-spacing:5px;

}

html, body{
}

#welcome_page{
    min-width: 100vw;
    min-height: 100vh;    
    height: 100vh;
}

.mywrapper{
    max-width: 60vw;
    margin: auto;
    margin-top: 30vh;
}

#bottom_menu{
    display: none;
}

#main_page{
}

#search_btn{
   height: 35px;
   width: 35px;
}
#search_btn i{
    font-size: 22px;
    line-height: 36px;
}

#search_input{
    height: 2.2em !important;
    margin-bottom: 0px !important;
}

#templates{
    display: none;
}


#main_header{
    padding: 0px 50px;
    padding-left: 30px;
    position: fixed;
    top: 0px;
    background: white;
    width: 100vw;
    height:60px;
}

#main_items{
    margin-top: 70px;
    padding: 0px 50px;
}


.item-header-item {
    margin-right: 5px;
}

.item-header-input{
    /* max-width: 75vh; */
    height: 1.5em !important;
    margin-bottom: 0px !important;
}

.mysmall-text-button{
    margin-right:5px;
}

.my-input-text{
    height: 1.5em !important;
    margin-bottom: 5px !important;
}

.mysmall-icon-button{
    color: gray;
    cursor: pointer;

    height: 1.5em !important;
    margin-bottom: 0px !important;
    font-size: 14px;
}

.mysmall-icon-button:hover{
    text-shadow: 0px 1px 1px #AAA;
}

.mysmall-icon-button:active{
    text-shadow: none;
}